pipeline/1_UMWT_ALL_MASTER_TABLES_TO_STG_UAT.json
{
	"name": "1_UMWT_ALL_MASTER_TABLES_TO_STG_UAT",
	"properties": {
		"activities": [
			{
				"name": "DMS_TABLE_CREATE_MIGRATION_SCOPE_PROC",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DMS_MASTER_TABLE_MIGRATION_CREATE_SCOPE_PROC]",
					"storedProcedureParameters": {
						"MigrationStatus": {
							"value": "OPEN",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().parameters.PipelineID",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DMS_ADF_DEMO_LS_SINK",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupActiveMasterModuleTableMigrationRecords",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DMS_TABLE_CREATE_MIGRATION_SCOPE_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT DMS.MODULE_ID, MT.SEQUENCE_ID, MT.SRC_SCHEMA_NAME, MT.SRC_TABLE_NAME, MT.TRG_SCHEMA_NAME, MT.TRG_TABLE_NAME, MT.DATA_MAPPING_JSON, MT.PRE_COPY_PROC, MT.POST_COPY_PROC\nFROM DMS_DATA_MIGRATION_STATUS DMS, DMS_MODULE_TABLE_MAPPING MT\nWHERE DMS.MODULE_ID = MT.MODULE_ID AND DMS.MIGRATION_STATUS = 'OPEN' AND MT.IS_ACTIVE = 1\nAND DMS.ADF_PIPELINE_ID = '@{pipeline().parameters.PipelineID}'\nORDER BY DMS.MODULE_ID,MT.SRC_TABLE_NAME, MT.SEQUENCE_ID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SINK_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "DMS_MODULE_TABLE_MAPPING",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_MasterModuleTableMapping",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupActiveMasterModuleTableMigrationRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupActiveMasterModuleTableMigrationRecords').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DMS_TABLE_MIGRATION_UPDATE_INPROGRESS_STATUS_PROC",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
								"storedProcedureParameters": {
									"OutletId": {
										"value": "''",
										"type": "String"
									},
									"ModuleId": {
										"value": {
											"value": "@{item().MODULE_ID}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SourceTableName": {
										"value": {
											"value": "@{item().SRC_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetSchemaName": {
										"value": {
											"value": "@{item().TRG_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().TRG_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().parameters.PipelineID",
											"type": "Expression"
										},
										"type": "String"
									},
									"MigrationStatus": {
										"value": {
											"value": "IN_PROGRESS",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@{item().SRC_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DMS_ADF_DEMO_LS_SINK",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "COPY_MASTER_TABLE_DATA_TO_STG_1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DMS_TABLE_MIGRATION_UPDATE_INPROGRESS_STATUS_PROC",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetDataMappingJson",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "Db2Source"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "IF EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = '@{item().TRG_TABLE_NAME}' AND TABLE_SCHEMA = '@{item().TRG_SCHEMA_NAME}')\n   DELETE FROM @{item().TRG_SCHEMA_NAME}.@{item().TRG_TABLE_NAME}\n",
										"type": "Expression"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@variables('DATA_COPY_MAPPING_JSON')",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "UMWT_UAT_SRC_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "@{item().SRC_SCHEMA_NAME}",
										"TableName": "@{item().SRC_TABLE_NAME}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SINK_TABLE_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@{item().TRG_TABLE_NAME}",
										"SchemaName": "@{item().TRG_SCHEMA_NAME}"
									}
								}
							]
						},
						{
							"name": "SetDataMappingJson",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DATA_COPY_MAPPING_JSON",
								"value": {
									"value": "@{item().DATA_MAPPING_JSON}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "DMS_TABLE_MIGRATION_UPDATE_FAILED_STATUS_PROC",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY_MASTER_TABLE_DATA_TO_STG_1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
								"storedProcedureParameters": {
									"OutletId": {
										"value": "''",
										"type": "String"
									},
									"ModuleId": {
										"value": {
											"value": "@{item().MODULE_ID}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@{item().SRC_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@{item().SRC_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetSchemaName": {
										"value": {
											"value": "@{item().TRG_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().TRG_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"MigrationStatus": {
										"value": {
											"value": "COMPLETED",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().parameters.PipelineID",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DMS_ADF_DEMO_LS_SINK",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PipelineID": {
				"type": "string",
				"defaultValue": "@pipeline().RunId"
			}
		},
		"variables": {
			"ADF_PIPELINE_ID": {
				"type": "String"
			},
			"DATA_COPY_MAPPING_JSON": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DATA_MIGRATION/MASTER_DATA/SIMPLE_COPY_MASTER/BACK_UP"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-16T01:29:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}