pipeline/COPY_REGN_D.json
{
	"name": "COPY_REGN_D",
	"properties": {
		"activities": [
			{
				"name": "COPY_REGN_D",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Latest_REGN_D_ID_On_DMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "Db2Source",
						"query": {
							"value": "SELECT * FROM E31DLIB3.REGN_D WHERE ID > @{activity('Lookup_Latest_REGN_D_ID_On_DMS').output.firstRow.OLD_REG_ID}\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "IF OBJECT_ID('dbo.REGN_D')  IS NOT NULL TRUNCATE TABLE dbo.REGN_D",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "UMWT_UAT_SRC_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "E31DLIB3",
							"TableName": "REGN_D"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SINK_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "REGN_D",
							"SchemaName": "dbo"
						}
					}
				]
			},
			{
				"name": "COPY_REGN_D_TO_DMS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AFTER_REGN_D_COPY_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SINK_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "REGN_D",
							"SchemaName": "dbo"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "UAT_LEADS_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "REGN_D"
						}
					}
				]
			},
			{
				"name": "Lookup_Latest_REGN_D_ID_On_DMS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "IF EXISTS (SELECT * \n                 FROM INFORMATION_SCHEMA.TABLES \n                 WHERE TABLE_SCHEMA = 'dbo' \n                 AND  TABLE_NAME = 'REGN_D')\nBEGIN\n    SELECT \n    CASE \n        WHEN MAX(ID) IS NOT NULL \n            THEN MAX(ID) \n        ELSE\n           -1\n    END AS 'OLD_REG_ID'\nFROM dbo.REGN_D\nEND",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "UAT_LEADS_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "REGN_D"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "AFTER_REGN_D_COPY_PROC",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "COPY_REGN_D",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[AFTER_REGN_D_COPY]"
				},
				"linkedServiceName": {
					"referenceName": "DMS_ADF_DEMO_LS_SINK",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "DMS - PHASE 1/LEADS MODULE"
		},
		"annotations": []
	}
}