pipeline/ECMS_ALL_COLLECTIONS_STAGING_TO_TRG_DEV_29th_OCT.json
{
	"name": "ECMS_ALL_COLLECTIONS_STAGING_TO_TRG_DEV_29th_OCT",
	"properties": {
		"activities": [
			{
				"name": "DMS_TABLE_MIGRATION_CREATE_SCOPE_PROC",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DMS_TABLE_MIGRATION_CREATE_SCOPE_PROC]",
					"storedProcedureParameters": {
						"MigrationStatus": {
							"value": "OPEN",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DMS_ADF_DEMO_LS_SINK",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupActiveModuleTableMigrationRecords",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DMS_TABLE_MIGRATION_CREATE_SCOPE_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT DMS.MODULE_ID, DMS.OUTLET_ID, MT.SEQUENCE_ID, MT.SRC_SCHEMA_NAME, MT.SRC_TABLE_NAME, MT.TRG_SCHEMA_NAME, MT.TRG_TABLE_NAME, MT.WATERMARK_TYPE, MT.WATERMARK_DATE_SRC_COLUMN_NAME, MT.WATERMARK_DATE_TRG_COLUMN_NAME, MT.WATERMARK_INT_TRG_COLUMN_NAME, MT.SRC_FILTER_KEY, MT.TRG_FILTER_KEY, MT.DATA_MAPPING_JSON, MT.POST_COPY_PROC\nFROM DMS_DATA_MIGRATION_STATUS DMS, DMS_MODULE_TABLE_MAPPING MT\nWHERE DMS.MODULE_ID = MT.MODULE_ID \nAND DMS.SRC_SCHEMA_NAME = MT.SRC_SCHEMA_NAME AND DMS.SRC_TABLE_NAME = MT.SRC_TABLE_NAME\nAND DMS.TRG_SCHEMA_NAME = MT.TRG_SCHEMA_NAME AND DMS.TRG_TABLE_NAME = MT.TRG_TABLE_NAME\nAND DMS.MIGRATION_STATUS = 'OPEN' AND MT.IS_ACTIVE = 1\nAND DMS.ADF_PIPELINE_ID = '@{pipeline().RunId}'\nORDER BY DMS.MODULE_ID, DMS.OUTLET_ID, MT.SEQUENCE_ID, MT.SRC_SCHEMA_NAME, MT.SRC_TABLE_NAME",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SINK_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "DMS_MODULE_TABLE_MAPPING_3",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_OutletModuleTableMapping",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupActiveModuleTableMigrationRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupActiveModuleTableMigrationRecords').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "isWatermarkDateType",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetOutletID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetModuleID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcSchemaName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTargetSchemaName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTargetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcWatermarkColumnName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTrgDateWatermarkColumnName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTrgIntWatermarkColumnName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetDataMappingJson",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetPostCopyProc",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcFilterKey",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTrgFilterKey",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetMigrateDataTillDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().WATERMARK_TYPE, 'datetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyDataStagingToTrg",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "LookupNewWatermarkDateValue",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select * from @{variables('SRC_SCHEMA_NAME')}.@{variables('SRC_TABLE_NAME')}\nwhere @{variables('SRC_FILTER_KEY')} = '@{variables('OUTLET_ID')}' and @{variables('SRC_WATERMARK_COLUMN_NAME')} <= '@{activity('LookupNewWatermarkDateValue').output.firstRow.NewWatermarkDateValue}' ",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"preCopyScript": {
													"value": "delete from @{variables('TRG_SCHEMA_NAME')}.@{variables('TRG_TABLE_NAME')} \nwhere @{variables('TRG_FILTER_KEY')} = '@{variables('OUTLET_ID')}' and @{variables('TRG_DATE_WATERMARK_COLUMN_NAME')} <= '@{activity('LookupNewWatermarkDateValue').output.firstRow.NewWatermarkDateValue}'",
													"type": "Expression"
												},
												"tableOption": "autoCreate"
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"value": "@json(variables('DATA_COPY_MAPPING_JSON'))",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "SINK_TABLE_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@variables('SRC_TABLE_NAME')",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@variables('SRC_SCHEMA_NAME')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SINK_TABLE_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "LookupNewWatermarkDateValue",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "UpdateTableMigrationStatusDateWatermark_InProgress",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select OUTLET_PILOTED_DATE AS NewWatermarkDateValue from dbo.DMS_OUTLET where OUTLET_ID = '@{variables('OUTLET_ID')}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SINK_TABLE_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "DMS_OUTLET",
													"SchemaName": "dbo"
												}
											}
										}
									},
									{
										"name": "EXEC_POST_COPY_PROC",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyDataStagingToTrg",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@{variables('POST_COPY_PROC')}",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "UpdateTableMigrationStatusDateWatermark_Completed",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "EXEC_POST_COPY_PROC",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
											"storedProcedureParameters": {
												"DateTillDataMigrated": {
													"value": {
														"value": "@activity('LookupNewWatermarkDateValue').output.firstRow.NewWatermarkDateValue",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"MigrationStatus": {
													"value": "COMPLETED",
													"type": "String"
												},
												"ModuleId": {
													"value": {
														"value": "@variables('MODULE_ID')",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"OutletId": {
													"value": {
														"value": "@variables('OUTLET_ID')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceSchemaName": {
													"value": {
														"value": "@variables('SRC_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceTableName": {
													"value": {
														"value": "@variables('SRC_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetSchemaName": {
													"value": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTableName": {
													"value": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "UpdateTableMigrationStatusDateWatermark_InProgress",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
											"storedProcedureParameters": {
												"MigrationStatus": {
													"value": "IN_PROGRESS",
													"type": "String"
												},
												"ModuleId": {
													"value": {
														"value": "@variables('MODULE_ID')",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"OutletId": {
													"value": {
														"value": "@variables('OUTLET_ID')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceSchemaName": {
													"value": {
														"value": "@variables('SRC_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceTableName": {
													"value": {
														"value": "@variables('SRC_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetSchemaName": {
													"value": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTableName": {
													"value": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "UpdateTableMigrationStatusDateWatermark_Failed",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyDataStagingToTrg",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
											"storedProcedureParameters": {
												"DateTillDataMigrated": {
													"value": null,
													"type": "DateTime"
												},
												"MigrationStatus": {
													"value": "FAILED",
													"type": "String"
												},
												"ModuleId": {
													"value": {
														"value": "@variables('MODULE_ID')",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"OutletId": {
													"value": {
														"value": "@variables('OUTLET_ID')",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"PipelineId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceSchemaName": {
													"value": {
														"value": "@variables('SRC_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"SourceTableName": {
													"value": {
														"value": "@variables('SRC_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetSchemaName": {
													"value": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTableName": {
													"value": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "SetOutletID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "OUTLET_ID",
								"value": {
									"value": "@{item().OUTLET_ID}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetModuleID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MODULE_ID",
								"value": {
									"value": "@{item().MODULE_ID}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcSchemaName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_SCHEMA_NAME",
								"value": {
									"value": "@{item().SRC_SCHEMA_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTargetSchemaName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_SCHEMA_NAME",
								"value": {
									"value": "@{item().TRG_SCHEMA_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTargetTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_TABLE_NAME",
								"value": {
									"value": "@{item().TRG_TABLE_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcWatermarkColumnName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_WATERMARK_COLUMN_NAME",
								"value": {
									"value": "@{item().WATERMARK_DATE_SRC_COLUMN_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTrgDateWatermarkColumnName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_DATE_WATERMARK_COLUMN_NAME",
								"value": {
									"value": "@{item().WATERMARK_DATE_TRG_COLUMN_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTrgIntWatermarkColumnName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_INT_WATERMARK_COLUMN_NAME",
								"value": {
									"value": "@{item().WATERMARK_INT_TRG_COLUMN_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDataMappingJson",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DATA_COPY_MAPPING_JSON",
								"value": {
									"value": "@{item().DATA_MAPPING_JSON}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetPostCopyProc",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "POST_COPY_PROC",
								"value": {
									"value": "@{item().POST_COPY_PROC}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_TABLE_NAME",
								"value": {
									"value": "@{item().SRC_TABLE_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcFilterKey",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_FILTER_KEY",
								"value": {
									"value": "@{item().SRC_FILTER_KEY}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTrgFilterKey",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_FILTER_KEY",
								"value": {
									"value": "@{item().TRG_FILTER_KEY}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetMigrateDataTillDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MIGRATE_DATA_TILL_DATE",
								"value": {
									"value": "@{item().MIGRATE_DATA_TILL_DATE}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"OUTLET_ID": {
				"type": "String"
			},
			"MODULE_ID": {
				"type": "String"
			},
			"SRC_TABLE_NAME": {
				"type": "String"
			},
			"TRG_SCHEMA_NAME": {
				"type": "String"
			},
			"TRG_TABLE_NAME": {
				"type": "String"
			},
			"SRC_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"TRG_DATE_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"TRG_INT_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"DATA_COPY_MAPPING_JSON": {
				"type": "String"
			},
			"SRC_SCHEMA_NAME": {
				"type": "String"
			},
			"SRC_FILTER_KEY": {
				"type": "String"
			},
			"POST_COPY_PROC": {
				"type": "String"
			},
			"BATCH_SIZE": {
				"type": "String"
			},
			"TRG_FILTER_KEY": {
				"type": "String"
			},
			"MIGRATE_DATA_TILL_DATE": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DMS - POC/ECMS MODULE/ECMS_SIMPLE_COPY/BACK_UP"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-08T11:30:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}