pipeline/ECMS_ALL_COLLECTIONS_C4C_TO_STAGING_QA.json
{
	"name": "ECMS_ALL_COLLECTIONS_C4C_TO_STAGING_QA",
	"properties": {
		"activities": [
			{
				"name": "DMS_COLLECTION_CREATE_MIGRATION_SCOPE_PROC",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DMS_COLLECTION_MIGRATION_CREATE_SCOPE_PROC]",
					"storedProcedureParameters": {
						"MigrationStatus": {
							"value": "OPEN",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DMS_ADF_DEMO_LS_SINK",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupActiveModuleCollectionMigrationRecords",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DMS_COLLECTION_CREATE_MIGRATION_SCOPE_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT DMS.MODULE_ID, DMS.OUTLET_ID, DMS.MIGRATE_DATA_TILL_DATE, MC.SRC_COLLECTION_NAME, MC.SEQUENCE_ID, MC.TRG_SCHEMA_NAME, MC.TRG_TABLE_NAME, MC.WATERMARK_TYPE, MC.WATERMARK_DATE_SRC_COLUMN_NAME, MC.WATERMARK_DATE_TRG_COLUMN_NAME, MC.WATERMARK_INT_TRG_COLUMN_NAME, MC.FILTER_KEY, MC.DATA_MAPPING_JSON, MC.POST_COPY_PROC\nFROM DMS_DATA_MIGRATION_STATUS DMS, DMS_MODULE_COLLECTION_MAPPING MC\nWHERE DMS.MODULE_ID = MC.MODULE_ID AND DMS.MIGRATION_STATUS = 'OPEN' AND MC.IS_ACTIVE = 1\nAND DMS.ADF_PIPELINE_ID = '@{pipeline().RunId}'\nORDER BY DMS.MODULE_ID, DMS.OUTLET_ID, MC.SRC_COLLECTION_NAME, MC.SEQUENCE_ID",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SINK_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "DMS_MODULE_COLLECTION_MAPPING_3",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_OutletModuleCollectionMapping",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupActiveModuleCollectionMigrationRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupActiveModuleCollectionMigrationRecords').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "isWatermarkDateType",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetOutletID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetModuleID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcCollectionName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTargetSchemaName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTargetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcWatermarkColumnName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTrgDateWatermarkColumnName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTrgIntWatermarkColumnName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetDataMappingJson",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetPostCopyProc",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetFilterKey",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetMigrateDataTillDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().WATERMARK_TYPE, 'datetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyCollectionDataToStaging",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "DMS_COLLECTION_MIGRATION_UPDATE_INPROGRESS_STATUS_PROC",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SapCloudForCustomerSource",
												"query": {
													"value": "$filter=(@{variables('FILTER_KEY')}%20eq%20%27@{variables('OUTLET_ID')}%27%20and%20@{variables('SRC_WATERMARK_COLUMN_NAME')}%20le%20datetimeoffset%27@{concat(variables('MIGRATE_DATA_TILL_DATE'),'Z')}%27)&$top=100",
													"type": "Expression"
												},
												"httpRequestTimeout": "00:05:00"
											},
											"sink": {
												"type": "SqlServerSink",
												"preCopyScript": {
													"value": "delete from @{variables('TRG_SCHEMA_NAME')}.@{variables('TRG_TABLE_NAME')} \nwhere @{variables('FILTER_KEY')} = '@{variables('OUTLET_ID')}' and @{variables('TRG_DATE_WATERMARK_COLUMN_NAME')} <= '@{variables('MIGRATE_DATA_TILL_DATE')}'",
													"type": "Expression"
												},
												"tableOption": "autoCreate"
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"value": "@json(variables('DATA_COPY_MAPPING_JSON'))",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "SAP_ECMS_COLLECTION_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"COLLECTION_NAME": {
														"value": "@{variables('SRC_COLLECTION_NAME')}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SINK_TABLE_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "EXEC_POST_COPY_PROC",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyCollectionDataToStaging",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@{variables('POST_COPY_PROC')}",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "DMS_COLLECTION_MIGRATION_UPDATE_COMPLETED_STATUS_PROC",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "EXEC_POST_COPY_PROC",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DMS_COLLECTION_MIGRATION_STATUS_UPDATE_PROC]",
											"storedProcedureParameters": {
												"OutletId": {
													"value": {
														"value": "@variables('OUTLET_ID')",
														"type": "Expression"
													},
													"type": "String"
												},
												"ModuleId": {
													"value": {
														"value": "@variables('MODULE_ID')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"SourceCollectionName": {
													"value": {
														"value": "@variables('SRC_COLLECTION_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetSchemaName": {
													"value": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTableName": {
													"value": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"MigrationStatus": {
													"value": {
														"value": "COMPLETED",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "DMS_COLLECTION_MIGRATION_UPDATE_INPROGRESS_STATUS_PROC",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DMS_COLLECTION_MIGRATION_STATUS_UPDATE_PROC]",
											"storedProcedureParameters": {
												"OutletId": {
													"value": {
														"value": "@variables('OUTLET_ID')",
														"type": "Expression"
													},
													"type": "String"
												},
												"ModuleId": {
													"value": {
														"value": "@variables('MODULE_ID')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"SourceCollectionName": {
													"value": {
														"value": "@variables('SRC_COLLECTION_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetSchemaName": {
													"value": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTableName": {
													"value": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineId": {
													"value": {
														"value": "@pipeline().GroupId",
														"type": "Expression"
													},
													"type": "String"
												},
												"MigrationStatus": {
													"value": {
														"value": "IN_PROGRESS",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "DMS_COLLECTION_MIGRATION_UPDATE_FAILED_STATUS_PROC",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyCollectionDataToStaging",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[DMS_COLLECTION_MIGRATION_STATUS_UPDATE_PROC]",
											"storedProcedureParameters": {
												"OutletId": {
													"value": {
														"value": "@variables('OUTLET_ID')",
														"type": "Expression"
													},
													"type": "String"
												},
												"ModuleId": {
													"value": {
														"value": "@variables('MODULE_ID')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"SourceCollectionName": {
													"value": {
														"value": "@variables('SRC_COLLECTION_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetSchemaName": {
													"value": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"TargetTableName": {
													"value": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"MigrationStatus": {
													"value": {
														"value": "FAILED",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "SetOutletID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "OUTLET_ID",
								"value": {
									"value": "@{item().OUTLET_ID}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetModuleID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MODULE_ID",
								"value": {
									"value": "@{item().MODULE_ID}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcCollectionName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_COLLECTION_NAME",
								"value": {
									"value": "@{item().SRC_COLLECTION_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTargetSchemaName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_SCHEMA_NAME",
								"value": {
									"value": "@{item().TRG_SCHEMA_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTargetTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_TABLE_NAME",
								"value": {
									"value": "@{item().TRG_TABLE_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcWatermarkColumnName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_WATERMARK_COLUMN_NAME",
								"value": {
									"value": "@{item().WATERMARK_DATE_SRC_COLUMN_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTrgDateWatermarkColumnName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_DATE_WATERMARK_COLUMN_NAME",
								"value": {
									"value": "@{item().WATERMARK_DATE_TRG_COLUMN_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTrgIntWatermarkColumnName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_INT_WATERMARK_COLUMN_NAME",
								"value": {
									"value": "@{item().WATERMARK_INT_TRG_COLUMN_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDataMappingJson",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DATA_COPY_MAPPING_JSON",
								"value": {
									"value": "@{item().DATA_MAPPING_JSON}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetPostCopyProc",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "POST_COPY_PROC",
								"value": {
									"value": "@{item().POST_COPY_PROC}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetFilterKey",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FILTER_KEY",
								"value": {
									"value": "@{item().FILTER_KEY}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetMigrateDataTillDate",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MIGRATE_DATA_TILL_DATE",
								"value": {
									"value": "@{item().MIGRATE_DATA_TILL_DATE}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"OUTLET_ID": {
				"type": "String"
			},
			"MODULE_ID": {
				"type": "String"
			},
			"SRC_COLLECTION_NAME": {
				"type": "String"
			},
			"TRG_SCHEMA_NAME": {
				"type": "String"
			},
			"TRG_TABLE_NAME": {
				"type": "String"
			},
			"SRC_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"TRG_DATE_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"TRG_INT_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"DATA_COPY_MAPPING_JSON": {
				"type": "String"
			},
			"SRC_SCHEMA_NAME": {
				"type": "String"
			},
			"FILTER_KEY": {
				"type": "String"
			},
			"POST_COPY_PROC": {
				"type": "String"
			},
			"MIGRATE_DATA_TILL_DATE": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DATA_MIGRATION/ECMS MODULE/MIGRATION - QA ENV"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-01T11:23:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}