pipeline/ECMS_ALL_COLLECTIONS_STAGING_TO_TRG_UAT.json
{
	"name": "ECMS_ALL_COLLECTIONS_STAGING_TO_TRG_UAT",
	"properties": {
		"activities": [
			{
				"name": "DMS_TABLE_MIGRATION_CREATE_SCOPE_PROC",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[DMS_TABLE_MIGRATION_CREATE_SCOPE_PROC]",
					"storedProcedureParameters": {
						"MigrationStatus": {
							"value": "OPEN",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModuleName": {
							"value": "DMS_LEADS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DMS_ADF_DEMO_LS_SINK",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupActiveModuleTableMigrationRecords",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DMS_TABLE_MIGRATION_CREATE_SCOPE_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT DMS.MODULE_ID, DMS.OUTLET_ID, DMS.MIGRATE_DATA_TILL_DATE, MT.SEQUENCE_ID, MT.SRC_SCHEMA_NAME, MT.SRC_TABLE_NAME, MT.TRG_SCHEMA_NAME, MT.TRG_TABLE_NAME, MT.WATERMARK_TYPE, MT.WATERMARK_DATE_SRC_COLUMN_NAME, MT.WATERMARK_DATE_TRG_COLUMN_NAME, MT.WATERMARK_INT_TRG_COLUMN_NAME, MT.SRC_FILTER_KEY, MT.TRG_FILTER_KEY, MT.DATA_MAPPING_JSON, MT.PRE_COPY_PROC, MT.POST_COPY_PROC\nFROM DMS_DATA_MIGRATION_STATUS DMS, DMS_MODULE_TABLE_MAPPING MT\nWHERE DMS.MODULE_ID = MT.MODULE_ID \nAND DMS.SRC_SCHEMA_NAME = MT.SRC_SCHEMA_NAME AND DMS.SRC_TABLE_NAME = MT.SRC_TABLE_NAME\nAND DMS.TRG_SCHEMA_NAME = MT.TRG_SCHEMA_NAME AND DMS.TRG_TABLE_NAME = MT.TRG_TABLE_NAME\nAND DMS.MIGRATION_STATUS = 'OPEN' AND MT.IS_ACTIVE = 1\nAND DMS.ADF_PIPELINE_ID = '@{pipeline().RunId}'\nORDER BY DMS.MODULE_ID, DMS.OUTLET_ID, MT.SEQUENCE_ID, MT.SRC_SCHEMA_NAME, MT.SRC_TABLE_NAME",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SINK_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "DMS_MODULE_TABLE_MAPPING",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_OutletModuleTableMapping",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupActiveModuleTableMigrationRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupActiveModuleTableMigrationRecords').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "UpdateTableMigrationStatusDateWatermark_InProgress",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
								"storedProcedureParameters": {
									"MigrationStatus": {
										"value": "IN_PROGRESS",
										"type": "String"
									},
									"ModuleId": {
										"value": {
											"value": "@{item().MODULE_ID}",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"OutletId": {
										"value": {
											"value": "@{item().OUTLET_ID}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@{item().SRC_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@{item().SRC_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetSchemaName": {
										"value": {
											"value": "@{item().TRG_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().TRG_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DMS_ADF_DEMO_LS_SINK",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CopyDataStagingToTrg",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "EXEC_PRE_COPY_PROC",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetMappingJson",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().SRC_SCHEMA_NAME}.@{item().SRC_TABLE_NAME}\nwhere @{item().SRC_FILTER_KEY} = '@{item().OUTLET_ID}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "delete from @{item().TRG_SCHEMA_NAME}.@{item().TRG_TABLE_NAME}\nwhere @{item().TRG_FILTER_KEY} = '@{item().OUTLET_ID}' and UMWT_DATA_SRC = 1",
										"type": "Expression"
									},
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"value": "@json(variables('DATA_COPY_MAPPING_JSON'))",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "UAT_LEADS_TABLE_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@{item().SRC_SCHEMA_NAME}",
											"type": "Expression"
										},
										"TableName": {
											"value": "@{item().SRC_TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "UAT_LEADS_TABLE_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@{item().TRG_SCHEMA_NAME}",
											"type": "Expression"
										},
										"TableName": {
											"value": "@{item().TRG_TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "EXEC_POST_COPY_PROC",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyDataStagingToTrg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().POST_COPY_PROC}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "UAT_DMS_LEADS_LS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UpdateTableMigrationStatusDateWatermark_Completed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "EXEC_POST_COPY_PROC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
								"storedProcedureParameters": {
									"MigrationStatus": {
										"value": "COMPLETED",
										"type": "String"
									},
									"ModuleId": {
										"value": {
											"value": "@{item().MODULE_ID}",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"OutletId": {
										"value": {
											"value": "@{item().OUTLET_ID}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@{item().SRC_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@{item().SRC_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetSchemaName": {
										"value": {
											"value": "@{item().TRG_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().TRG_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DMS_ADF_DEMO_LS_SINK",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UpdateTableMigrationStatusDateWatermark_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyDataStagingToTrg",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[DMS_TABLE_DATA_MIGRATION_STATUS_UPDATE_PROC]",
								"storedProcedureParameters": {
									"MigrationStatus": {
										"value": "FAILED",
										"type": "String"
									},
									"ModuleId": {
										"value": {
											"value": "@{item().MODULE_ID}",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"OutletId": {
										"value": {
											"value": "@{item().OUTLET_ID}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceSchemaName": {
										"value": {
											"value": "@{item().SRC_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceTableName": {
										"value": {
											"value": "@{item().SRC_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetSchemaName": {
										"value": {
											"value": "@{item().TRG_SCHEMA_NAME}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().TRG_TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DMS_ADF_DEMO_LS_SINK",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "EXEC_PRE_COPY_PROC",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "UpdateTableMigrationStatusDateWatermark_InProgress",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().PRE_COPY_PROC}",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"OutletId": {
										"value": {
											"value": "@{item().OUTLET_ID}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "UAT_DMS_LEADS_LS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SetMappingJson",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DATA_COPY_MAPPING_JSON",
								"value": {
									"value": "@{item().DATA_MAPPING_JSON}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"DATA_COPY_MAPPING_JSON": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DMS - POC/ECMS MODULE/MIGRATION - UAT ENV"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-21T16:00:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}