pipeline/ECMS_ALL_COLLECTIONS_STAGING_TO_DEV_V1.json
{
	"name": "ECMS_ALL_COLLECTIONS_STAGING_TO_DEV_V1",
	"properties": {
		"activities": [
			{
				"name": "ALL_TABLE_MAPPING_DATAFLOW",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ALL_TABLE_MAPPING_DF_DEV",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None"
				}
			},
			{
				"name": "ForEach_OutletModuleCollectionMapping",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ALL_TABLE_MAPPING_DATAFLOW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ALL_TABLE_MAPPING_DATAFLOW').output.runStatus.output.PilotedOutletModuleCollectionsSink.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "isWatermarkDateType",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetOutletID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetModuleID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTargetSchemaName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTargetTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetDataMappingJson",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetSrcSchemaName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetFilterKey",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetTrgWatermarkColName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetPostCopyProc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().WATERMARK_TYPE, 'datetime'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LookupOldWatermarkDateValue",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "SELECT ISNULL((select max(DATE_TILL_DATA_MIGRATED) from dbo.DMS_COLLECTION_DATA_MIGRATION_STATUS where OUTLET_ID = @{variables('OUTLET_ID')} and MODULE_ID = @{variables('MODULE_ID')} and TRG_SCHEMA_NAME = '@{variables('TRG_SCHEMA_NAME')}' and TRG_TABLE_NAME = '@{variables('TRG_TABLE_NAME')}'), '1900-01-01 00:00:00') AS OldWatermarkDateValue",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DMS_COLLECTION_DATA_MIGRATION_STATUS_DS",
												"type": "DatasetReference"
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "CopyCollectionDataToDmsTable",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "LookupOldWatermarkDateValue",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "LookupNewWatermarkDateValue",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlServerSink",
												"preCopyScript": {
													"value": "delete from @{variables('TRG_SCHEMA_NAME')}.@{variables('TRG_TABLE_NAME')} where @{variables('FILTER_KEY')} = '@{variables('OUTLET_ID')}' and @{variables('TRG_DATE_WATERMARK_COLUMN_NAME')} <= '@{activity('LookupNewWatermarkDateValue').output.firstRow.NewWatermarkDateValue}'",
													"type": "Expression"
												}
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"value": "@json(variables('DATA_COPY_MAPPING_JSON'))",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "SINK_TABLE_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "@{variables('SRC_TABLE_NAME')}",
													"SchemaName": {
														"value": "@{variables('SRC_SCHEMA_NAME')}",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SINK_TABLE_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													},
													"SchemaName": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "LookupNewWatermarkDateValue",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "select OUTLET_PILOTED_DATE AS NewWatermarkDateValue from dbo.DMS_OUTLET where OUTLET_ID = '@{variables('OUTLET_ID')}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "SINK_TABLE_PARAM",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "DMS_OUTLET",
													"SchemaName": "dbo"
												}
											}
										}
									},
									{
										"name": "EXEC_POST_COPY_PROC",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyCollectionDataToDmsTable",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@{variables('POST_COPY_PROC')}",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "UpdateTableMigrationStatusDateWatermark",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "EXEC_POST_COPY_PROC",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[UPDATE_DATE_WATERMARK_TABLE_DATA_MIGRATION_STATUS]",
											"storedProcedureParameters": {
												"OutletId": {
													"value": {
														"value": "@variables('OUTLET_ID')",
														"type": "Expression"
													}
												},
												"ModuleId": {
													"value": {
														"value": "@variables('MODULE_ID')",
														"type": "Expression"
													}
												},
												"SourceSchemaName": {
													"value": {
														"value": "@variables('SRC_SCHEMA_NAME')",
														"type": "Expression"
													}
												},
												"TargetSchemaName": {
													"value": {
														"value": "@variables('TRG_SCHEMA_NAME')",
														"type": "Expression"
													}
												},
												"TargetTableName": {
													"value": {
														"value": "@variables('TRG_TABLE_NAME')",
														"type": "Expression"
													}
												},
												"PipelineId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"DateTillDataMigrated": {
													"value": {
														"value": "@activity('LookupNewWatermarkDateValue').output.firstRow.NewWatermarkDateValue",
														"type": "Expression"
													}
												},
												"PipelineTriggerTime": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												"SourceTableName": {
													"value": {
														"value": "@variables('SRC_TABLE_NAME')",
														"type": "Expression"
													}
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "DMS_ADF_DEMO_LS_SINK",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "SetOutletID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "OUTLET_ID",
								"value": {
									"value": "@{item().OUTLET_ID}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetModuleID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MODULE_ID",
								"value": {
									"value": "@{item().MODULE_ID}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_TABLE_NAME",
								"value": {
									"value": "@{item().SRC_TABLE_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTargetSchemaName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_SCHEMA_NAME",
								"value": {
									"value": "@{item().TRG_SCHEMA_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTargetTableName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_TABLE_NAME",
								"value": {
									"value": "@{item().TRG_TABLE_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDataMappingJson",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DATA_COPY_MAPPING_JSON",
								"value": {
									"value": "@{item().DATA_MAPPING_JSON}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetSrcSchemaName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SRC_SCHEMA_NAME",
								"value": {
									"value": "@{item().SRC_SCHEMA_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetFilterKey",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FILTER_KEY",
								"value": {
									"value": "@{item().FILTER_KEY}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetTrgWatermarkColName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TRG_DATE_WATERMARK_COLUMN_NAME",
								"value": {
									"value": "@{item().WATERMARK_DATE_TRG_COLUMN_NAME}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetPostCopyProc",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "POST_COPY_PROC",
								"value": {
									"value": "@{item().POST_COPY_PROC}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"OUTLET_ID": {
				"type": "String"
			},
			"MODULE_ID": {
				"type": "String"
			},
			"SRC_TABLE_NAME": {
				"type": "String"
			},
			"TRG_SCHEMA_NAME": {
				"type": "String"
			},
			"TRG_TABLE_NAME": {
				"type": "String"
			},
			"BATCH_SIZE": {
				"type": "String"
			},
			"SRC_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"TRG_DATE_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"TRG_INT_WATERMARK_COLUMN_NAME": {
				"type": "String"
			},
			"DATA_COPY_MAPPING_JSON": {
				"type": "String"
			},
			"SRC_SCHEMA_NAME": {
				"type": "String"
			},
			"FILTER_KEY": {
				"type": "String"
			},
			"POST_COPY_PROC": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DMS - POC/ECMS MODULE/ECMS_SIMPLE_COPY/BACK_UP"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-08T11:30:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}