pipeline/PRD_MIGRATE_BULK_INCR_LEADS_BY_OUTLET_ONE_TIME.json
{
	"name": "PRD_MIGRATE_BULK_INCR_LEADS_BY_OUTLET_ONE_TIME",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_PILOTING_OUTLETS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT OUTLET_ID FROM DMS_OUTLET WHERE ACTIVE = 2 AND OUTLET_PILOTED_DATE <= CURRENT_TIMESTAMP ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_LEADS_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "DMS_OUTLET"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Piloting_Outlet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP_PILOTING_OUTLETS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_PILOTING_OUTLETS').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PRD_MIGRATE_INCR_LEADS_BY_OUTLET_ONE_TIME",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_MIGRATE_INCR_LEADS_BY_OUTLET_ONE_TIME",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"OUTLET_ID": {
										"value": "@{item().OUTLET_ID}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ACTIVE_PILOTED_OUTLET_PROC",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "PRD_MIGRATE_INCR_LEADS_BY_OUTLET_ONE_TIME",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[ACTIVE_PILOTED_OUTLET_PROC]",
								"storedProcedureParameters": {
									"OutletId": {
										"value": {
											"value": "@{item().OUTLET_ID}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PRD_DMS_LEADS_LS",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DMS - PHASE 1/LEADS MODULE - PRD"
		},
		"annotations": []
	}
}