pipeline/PRD_MIGRATE_BULK_INCR_LEADS_BY_OUTLET_ONE_TIME.json
{
	"name": "PRD_MIGRATE_BULK_INCR_LEADS_BY_OUTLET_ONE_TIME",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_PILOTED_OUTLETS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT OUTLET_ID FROM DMS_OUTLET WHERE ACTIVE = 2 AND OUTLET_PILOTED_DATE <= CURRENT_TIMESTAMP ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_LEADS_TABLE_PARAM",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "DMS_OUTLET"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Piloted_Outlet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP_PILOTED_OUTLETS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_PILOTED_OUTLETS').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "PRD_MIGRATE_INCR_LEADS_BY_OUTLET_ONE_TIME",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_MIGRATE_INCR_LEADS_BY_OUTLET_ONE_TIME",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"OUTLET_ID": {
										"value": "'@{item().OUTLET_ID}'",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DMS - PHASE 1/LEADS MODULE - PRD"
		},
		"annotations": []
	}
}